{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "plugin:@shopify/typescript", 
    "plugin:@shopify/esnext",
    "plugin:@shopify/node"
    // "eslint:recommended",
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-await": "off"
  }
}
