{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "plugin:@shopify/typescript", 
    "plugin:@shopify/esnext",
    "plugin:@shopify/node"
    // "eslint:recommended",
    // "plugin:@typescript-eslint/eslint-recommended",
    // "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "require-await": "off",
    "promise/prefer-await-to-then": "error",
    "prefer-destructuring": ["error", {"object": true, "array": false}],
    "promise/prefer-await-to-callbacks": "error",
    "import/no-commonjs": "error",
    "import/no-amd": "error",
    "import/max-dependencies": ["error", {
      "max": 20,
      "ignoreTypeImports": false
    }],
    "import/no-unassigned-import": "error",
    "import/group-exports": "error",
    // "node/no-missing-import": "error",
    "camelcase": [ "error", {
        "properties": "always",
        "ignoreDestructuring": true,
        "ignoreImports": true,
        "ignoreGlobals": true
      }
    ],
    "no-unused-expressions": "error",
    "valid-typeof": "error",
    "new-cap": "error",
    "no-invalid-this": "error",
    "complexity": [ "error", { "max": 2 }],
    "no-else-return": "error",
    "max-depth": [ "error", 4 ],
    "max-len": [ "error", { "code": 120, "comments": 80, "ignoreTemplateLiterals": true, "ignoreStrings": true, "ignoreTrailingComments": true, "ignoreUrls": true } ],
    "no-bitwise": "error",
    "no-plusplus": "error",
    "no-debugger": "error",
    "@shopify/jest/no-snapshots": "error",
    // "jsx-no-complex-expressions": "error",
    "max-nested-callbacks": [ "error", { "max": 5 }],
    "no-undef": "error",
    "no-undefined": "error",
    "explicit-function-return-type": "error",
    "no-non-null-assertion": "error"
  }
}
